:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Inter', sans-serif;
  background: black;
  color: white;
  margin-left: 10em;
}

html {
  margin-left: 8em;
}

#title{
  width: 20em;
  font-size: 3em;
  line-height: 2em;
  margin-top: 2em;
  margin-bottom: 0;
  padding-bottom:0;
}

#motive{
  margin-top: 3em;
  font-size: 2.5em;
  width: 15em;
  line-height: 1em;
  margin-bottom: 3em;
}

#jump{
  color:white;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 8em;
}

#what{
  width: 50em;
  line-height: 1.5em;
  margin-bottom: 20em;
}

#whatTitle{
  padding-top: 10em;
  font-size: 3em;
}


#what > p{
  font-size: 1.1em;
}

#superscript >p{
  font-size: 0.6em;
  line-height: 1em
}

#who{
width: 50em;
line-height: 1.5em;
margin-bottom: 20em;
}

#whoTitle{
  padding-top: 5em;
  font-size: 3em;
}

#why{
display: flex;
flex-direction: row;
}

#whyTitle{
  padding-top: 5em;
  font-size: 3em;
  line-height: 50px;
}

#whyText{
  width: 40%;
  float: left;
}

#whyVis{
  width: 60%;
  height: 40px;
  float: right;
  color: black;
}

/* css for the map */
#mapVisTitle{
  text-align: center;
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
}
#mapVis{
  margin-left: -5em;
  margin-top: 0px;
  padding-top: 0px;
}
.counties{
  stroke:#707070;
}
