:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Tahoma", sans-serif;
  background: black;
  color: white;
  margin-left: 10em;
  margin-right: 10em;
  overflow-x: hidden;
}

html {
  margin-left: 8em;
  margin-right: 8em;
}

div {
  /*border:1px solid red;*/
}

#title {
  width: 20em;
  font-size: 2.5em;
  line-height: 2em;
  margin-top: 11em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#subTitle {
  font-size: 2em;
  width: 25em;
  line-height: 1.1em;
}

#motive {
  margin-top: 7em;
  font-size: 3em;
  width: 15em;
  line-height: 1em;
  margin-bottom: 3em;
}

#what {
  line-height: 1.5em;
  margin-bottom: 10em;
}

#whatTitle {
  padding-top: 10em;
  font-size: 3em;
}

#what > p {
  font-size: 1.1em;
}

#what > h4 {
  font-size: 1.8em;
}

#superscript > p {
  font-size: 0.6em;
  line-height: 1em;
}

#who {
  line-height: 1.5em;
  margin-bottom: 10em;
}

#whoTitle {
  padding-top: 5em;
  font-size: 3em;
}

#why {
  display: flex;
  flex-direction: row;
  margin-bottom: 10em;
}

#whyTitle {
  padding-top: 5em;
  font-size: 3em;
  line-height: 50px;
}


#whyText {
  width: 40%;
  float: left;
}

#whyVis {
  margin-top: 20px;
  margin-left: 70px;
}

#howTitle {
  padding-top: 5em;
  font-size: 3em;
  line-height: 50px;
}

#mapSelection {
  margin: 0;
  padding: 0;
}
/* css for the map */
#mapVis {
  margin-left: -5em;
  margin-top: 0px;
  padding-top: 0px;
}
.counties {
  stroke: #707070;
}

#miniMaps {
  margin-left: -10.5em;
  display: flex;
}
#miniMap2 {
  margin-left: 2em;
}

#factors {
  margin-bottom: 10em;
}

#factors1,
#factors2,
#factors3,
#factors4 {
  background: black;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  font-size: 1em;
}

#submitButton {
  margin-top: 0.5em;
  font-size: 1em;
  width: 9em;
  height: 2em;
  border: none;
  border-radius: 15px;
  background-color: White;
}

#howItFeels {
  margin-top: 10em;
  width: 50%;
}

#topStatement {
  margin-top: 3em;
}

.affectedPerson {
  filter: invert(12%) sepia(58%) saturate(6636%) hue-rotate(356deg)
    brightness(121%) contrast(121%); /* values calculated from https://codepen.io/sosuke/pen/Pjoqqp */
}

#pictoVis3 {
  margin-bottom: 5em;
}

#noOneText {
  font-size: 2.5em;
  width: 70%;
}

#chosen {
  color: #f7413e;
}
